
logs/
*.log
*.lck
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


geoserver_data/logs/
geoserver_data/gwc/*.bak
geoserver_data/gwc/*.bak2
geoserver_data/gwc/diskquota_page_store_hsql/
geoserver_data/gwc-layers/*.bak
geoserver_data/security/masterpw/default/passwd
geoserver_data/tomcat_pass.txt


node_modules/
dist/
dist-ssr/
*.local

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?